.cover__link {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cover__link:hover {
    cursor: url('../../../images/cursor.png') ,pointer;
    z-index: 2;
}
