.place__title {
    display: flex;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: calc(42px + (72 - 42) * ((100vw - 768px) / (1024 - 768)));
        line-height: calc(46px + (76 - 46)  * ((100vw - 768px) / (1024 - 768)));
    }
    
}

@media screen and (max-width: 767px) {
    .place__title {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
        line-height: calc(35px + (46 - 35)  * ((100vw - 320px) / (768 - 320)));
        font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));
    }

    
}


@media screen  and (max-width:320px) {
    .place__title {
        line-height: 35px;
        font-size: 32px;
    }
    
}