.page {
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    max-width: 1280px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
}

.page::before {
  background-color: #2A2C2F;
}