.cover__subtitle {
    display: flex;
    color: white;
    z-index: 3;
    max-width: 360px;
    margin: 0;
    padding: 0;
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen  and (max-width: 767px) {
    .cover__subtitle {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    
}

