.footer__link {
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    margin-right: 18px;
    transition: opacity 0.5s ease-in-out;
    text-decoration: none;
}

/* свойство гэп не сработало. Оно разве не только для гридов? */

.footer__link:hover {
    opacity: 0.8;
    cursor: url('../../../images/cursor.png'), pointer;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-bottom: 34px;
        font-size: 24px;
        line-height: 24px;
    }
}    

