.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 1184px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    min-width: 320px;
    
}


@media screen and (max-width: 1279px) {
    .cover {
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
    }
    
}

@media screen and (max-width: 768px) {
    .cover {
     margin-top: calc(66px + (90 - 66) * ((100vh - 320px) / (767 - 320)));
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 66px;
    }
    
}
