.footer {
    max-width: 1184px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: calc(928px + (1184 - 928) * ((100vw - 1024px) / (1280 - 1024)));
    }
}


@media screen and (max-width: 1023px) {
    .footer {
        margin-top: 88px;
        max-width: calc(720px + (928 - 720) * ((100vw - 767px) / (1023 - 767)));
    }
    
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (767 - 320)));
        flex-direction: column;
        margin-top: 64px;
    }    
}