.place__url-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-self: end;
    max-width: 456px;

}

@media screen and (max-width: 767px) {
    .place__url-wrapper {
        min-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
    }
    
}

